<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="BuckminsterTarget" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.5.0.v20110530-7P7NFUFFLWUl76mart"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7/"/>
</location>
<location path="${workspace_loc}/TargetProject/windowTestPro" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="3.5.0.v20110503-7R7aBjBgLiJz0Cv6Q4DG58520281"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7/"/>
</location>
</locations>
</target>
